@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Domine', serif;
font-family: 'Montserrat', sans-serif; */

@layer components {
  .btn-shop-small {
    @apply font-semibold text-white text-center py-2 px-10 bg-[#ffa15f];
  }
  .filter-border-dashed {
    @apply flex  pt-3 pb-4 border-t border-dashed border-[#cccccc] border-opacity-50;
  }
  .filter-size {
    @apply cursor-pointer flex items-center justify-center text-center box-border p-4 h-10 w-10 border transition duration-500 ease-in-out transform;
  }
  .filter-color {
    @apply bg-opacity-40 h-[30px] w-[30px] hover:scale-150 cursor-pointer rounded-full mr-4;
  }
}
.Montserrat {
  font-family: "Montserrat", sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.Montserrat-s {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  /* font-weight: 500; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
}
.Montserrat-m {
  /* font-family: Montserrat; */
  /* font-weight: 500; */
  /* color: var(--dark-grey); */
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
}
.Montserrat-b {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
/* .Montserrat-bb {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
} */
.Domine-b {
  /* font-family: Domine; */
  /* font-size: 48px; */
  /* line-height: 0.94; */
  font-family: "Domine", serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
}

/* Styling checkbox  */
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /* top: 0px; */
  /* top: -10px; */
  top: -6px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1.5px solid #b7b7b7;
  box-sizing: border-box;
  border-radius: 2px;
}

/* When the checkbox is checked, add a background */
.checkbox-container input:checked ~ .checkmark {
  /* background-color: #ff7413; */
  background-color: #ffa15f;
  box-sizing: border-box;
  border-radius: 2px;
  /* border: 1.5px solid #ff7413; */
  border: 1.5px solid #ffa15f;
  height: 16px;
  width: 16px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  /* top: -3px; */
  top: -7px;
  left: 1.5px;
  content: url(assets/checked.svg);
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* show categories on hover */

.categories {
  display: none;
  top: 30px;
  position: absolute;
  padding-top: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.category-content {
  background-color: #fbfbfb;
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  padding: 16px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.5px #eaeaea;
}
/* Show the ladies menu on hover */
.category-container:hover + .categories {
  display: flex;
}
.categories:hover {
  display: flex;
}

/*  Show quick shop on hover the product */
.quick-shop {
  /* transform: rotateX(90deg); */
  max-height: 0px;
  visibility: hidden;
  /* transition: max-height 0.3s ease-in; */
}
.quick-shop-container:hover .quick-shop {
  /* transform: rotateX(0); */
  max-height: 54px;
  visibility: visible;
  /* animation-direction: alternate; */
}

/* @keyframes max-height {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
} */

/* Styling range slider input */
/* .MuiSlider-root .css-14pt78w-MuiSlider-rail {
  background-color: #eaeaea !important;
} */

/* Review */

.border-review:not(:last-child) {
  border-bottom: 1px dashed #cccccc;
}

.scrollbar-w-1::-webkit-scrollbar {
  height: 4px;
}

.grid-container--fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 4px;
  grid-row-gap: 8px;
  /* grid-gap: grid-row-gap grid-column-gap; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 8px; */
}
/* .grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  display: grid;
  gap: 8px;
} */
