@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Domine', serif;
font-family: 'Montserrat', sans-serif; */

@layer components {
  .btn-shop-small {
    @apply font-semibold text-white text-center py-2 px-10 bg-[#ffa15f];
  }
  .filter-border-dashed {
    @apply flex  pt-3 pb-4 border-t border-dashed border-[#cccccc] border-opacity-50;
  }
  .filter-size {
    @apply cursor-pointer flex items-center justify-center text-center box-border p-4 h-10 w-10 border transition duration-500 ease-in-out transform;
  }
}
.Montserrat {
  font-family: "Montserrat", sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.Montserrat-s {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  /* font-weight: 500; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
}
.Montserrat-m {
  /* font-family: Montserrat; */
  /* font-weight: 500; */
  /* color: var(--dark-grey); */
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
}
.Montserrat-b {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
/* .Montserrat-bb {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
} */
.Domine-b {
  /* font-family: Domine; */
  /* font-size: 48px; */
  /* line-height: 0.94; */
  font-family: "Domine", serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
}

/* Styling checkbox  */
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /* top: 0px; */
  top: -10px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1.5px solid #b7b7b7;
  box-sizing: border-box;
  border-radius: 2px;
}

/* When the checkbox is checked, add a background */
.checkbox-container input:checked ~ .checkmark {
  /* background-color: #ff7413; */
  background-color: #ffa15f;
  box-sizing: border-box;
  border-radius: 2px;
  /* border: 1.5px solid #ff7413; */
  border: 1.5px solid #ffa15f;
  height: 16px;
  width: 16px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  top: -2px;
  left: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* show categories on hover */
.type-container {
  display: none;
}
.ladies:hover + .type-container {
  display: block;
}

/*  Show quick shop on hover the product */
.quick-shop {
  transform: rotateX(90deg);
  transition: transform 0.3s ease-in;
}
.quick-shop-container:hover .quick-shop {
  transform: rotateX(0);
}

/* Styling range slider input */
/* https://css-tricks.com/sliding-nightmare-understanding-range-input/ */
/* input[type="range"] {
  ::-webkit-slider-runnable-track, ;
} */
/* input::-moz-range-track, 
input::-ms-track, */

/* .MuiSlider-root .css-14pt78w-MuiSlider-rail {
  background-color: #eaeaea !important;
} */
