@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: 'Domine', serif;
font-family: 'Montserrat', sans-serif; */

@layer components {
  .btn-shop-small {
    @apply font-semibold text-white text-center py-2 px-10 bg-[#ffa15f];
  }
}
.Montserrat {
  font-family: "Montserrat", sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.Montserrat-s {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  /* font-weight: 500; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
}
.Montserrat-m {
  /* font-family: Montserrat; */
  /* font-weight: 500; */
  /* color: var(--dark-grey); */
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
}
.Montserrat-b {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
/* .Montserrat-bb {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
} */
.Domine-b {
  /* font-family: Domine; */
  /* font-size: 48px; */
  /* line-height: 0.94; */
  font-family: "Domine", serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
}
